*{
	background-color: #E6E6E6;
}
div{
	margin: 15px;
}
.enLinea{
	display: inline;
}
.enBloque{
	display: block;
}
.mixto{
	display: inline-block;
}
.tamaño{
	width: 80px;
	height: 80px;
	border: solid 1px black;
	background-color: #848484;
}
.contenedor{
	width: 350px;
	height: 120px;
	border: solid 1px black;
	background-color: #424242;
}
.margenIzq{
	margin-left: 
}